<template>

    <div>
        <h3>Game {{ game.name }}</h3>
        <div v-for="user in users" :key="user.id">{{ user.name }}</div>
    </div>

</template>

<script>
  export default {
    name: "game",
    data(){
      return {
        game: {},
        users: [],
        id: this.$route.params.id
      }
    },
    mounted() {
      this.getGame();
      Echo.join('games.'+this.id)
        .here((users) => {
          this.users = users;
      }).joining((user) => {
        this.users.push(user);
      }).leaving((user) => {
        this.users.splice(user.id);
      });
    },
    methods: {
        getGame(){
          let vm = this;
          axios.get(`/games/${this.id}`)
            .then((response) => {
              //commit('setGame', response.data);
              vm.game = response.data;
            }).catch((error) => {
            console.log(error);
          });
        }
    },
    destroyed(){
      Echo.leave('games.'+this.id);
    }
  }
</script>

<style scoped>



</style>