<template>
    <div>
        <div class="row">
            <div class="col-md-6">
                <h3 class="mb-3">Welcome to the Lobby!</h3>
            </div>
            <div class="col-md-6 text-right">
                <strong>Players Online: {{ playersOnline }}</strong>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-sm mb-3 pull-right" data-toggle="modal" data-target="#createGame">Create a New Table</button>

        <table class="table" :if="games && games.length > 0">
            <thead>
            <tr>
                <th>Game ID</th>
                <th scope="col">Name</th>
                <th scope="col">Players</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="game in games" :key="game.id">
                <td>{{ game.game_id }}</td>
                <td>{{game.name}}</td>
                <td>{{ game.players }}</td>
                <td class="text-right">
                    <router-link :to="{ path: `/game/${game.game_id}`}" class="btn btn-success btn-sm pull-right">Join Game</router-link>
                    <button class="btn btn-danger btn-sm pull-right mr-1" @click="deleteGame(game.id)" v-if="game.userCanEdit">Delete Game</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div v-if="games.length === 0">
            <p>There aren't any running games at this time. Feel free to start a new table!</p>
        </div>
        <div class="modal fade" id="createGame" tabindex="-1" role="dialog" aria-labelledby="createGameLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="createGameLabel">Create a New Table</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body">
                        <label>Table Name</label>
                        <input type="text" v-model="newTable.name" class="form-control" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-success" @click="createTable">Create Table</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

  export default {
    name: "lobby",
    data: () => {
      return {
        newTable: {},
        games: [],
        playersOnline: 0
      }
    },
    created() {
      this.getGames();
      Echo.private('games')
        .listen('GameCreated', (e) => {
          this.games.push(e.game)
        });
      Echo.join('users').here((users) => {
        this.playersOnline = users.length;
      }).joining((user) => {
        this.playersOnline++;
      }).leaving((user) => {
        this.playersOnline--;
      });
    },
    computed:{
      user(){
        return this.$store.state.user;
      }
    },
    methods: {
      getGames(){
        let vm = this;
        axios.get('/games').then( (response) => {
          vm.games = response.data;
        }).catch((error) => {
          console.log(error);
        });
      },
      createTable(){
        let vm = this;
        axios.post('/games', vm.newTable).then( (response) => {
          vm.newTable = {};
          $('#createGame').modal('hide');
        }).catch((response) => {

        });
      },
      deleteGame(id){
        let vm = this;
        axios.delete(`/games/${id}`, vm.newTable).then( (response) => {
          vm.games = response.data;
          $('#createGame').modal('hide');
        }).catch((response) => {

        });
      }
    },
    destroyed(){
      Echo.leave('games');
    }
  }
</script>

<style scoped>

</style>