<template>
    <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
        <div class="container">
            <router-link to="/" class="navbar-brand" exact>{{ appName }}</router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto">

                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Authentication Links -->
                    <li v-if="! auth"><router-link to="/login" class="nav-link">Login</router-link></li>
                    <li v-if="! auth"><router-link to="/register" class="nav-link">Register</router-link></li>

                    <li class="nav-item dropdown" v-if="auth">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           {{ username }} <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" @click="logout">Logout</a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
  export default {
    data() {
      return {
        appName: this.$store.state.appName
      }
    },
    methods: {
      logout() {
        this.$store.dispatch('logout');
      }
    },
    computed: {
      auth(){
        return this.$store.getters.isAuthenticated;
      },
      username() {
        return this.$store.getters.username;
      }
    }
  }
</script>

<style scoped>
    nav {
        margin-bottom: 25px;
    }
</style>