<template>
    <div id="content">
        <Nav />
        <div class="container">
            <transition name="fade">
                <router-view></router-view>
            </transition>
        </div>
        <footer>
            <p>Copyright {{ new Date().getFullYear() }} - All Rights Reserved.</p>
        </footer>
    </div>
</template>

<script>
  import Nav from './components/Nav.vue';

  export default {
    name: "app",
    components: {
      Nav
    },
    beforeCreate () {
      this.$store.dispatch('tryAutoLogin');
    }
  }
</script>

<style scoped>

    #content {
        min-height: 100vh;
    }
    footer {
        position: absolute;
        bottom: 0px;
        margin-top: 25px;
        padding: 0 25px;
        text-align: center;
        color: #CCC;
        font-size: 10pt;

    }
    .fade-enter-active, .fade-leave-active {
        transition-property: opacity;
        transition-duration: .25s;
    }

    .fade-enter-active {
        transition-delay: .25s;
    }

    .fade-enter, .fade-leave-active {
        opacity: 0
    }
</style>