<template>
    <div class="row justify-content-center">

        <div class="col-md-8">
            <div class="card card-default">
                <div class="card-header"><h4 class="mb-0">Create an Account</h4></div>

                <div class="card-body">
                    <form @submit.prevent="register">
                    <div class="form-group row">
                        <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>

                        <div class="col-md-6">
                            <input id="name"
                                   type="text"
                                   class="form-control"
                                   name="name"
                                   v-model="formData.name" autofocus :class="{'is-invalid': errors.name && errors.name.length}">

                            <div class="text-danger" v-if="errors && errors.name">
                                <small><strong>{{ errors.name[0] }}</strong></small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                        <div class="col-md-6">
                            <input id="email"
                                   type="email"
                                   class="form-control"
                                   name="email"
                                   v-model="formData.email" :class="{'is-invalid': errors.email && errors.email.length}">

                            <div class="text-danger" v-if="errors && errors.email">
                                <small><strong>{{ errors.email[0] }}</strong></small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                        <div class="col-md-6">
                            <input id="password"
                                   type="password"
                                   class="form-control"
                                   name="password"
                                   v-model="formData.password">

                            <div class="text-danger" v-if="errors.password && errors.password.length">
                                <small><strong>{{ errors.password[0] }}</strong></small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>

                        <div class="col-md-6">
                            <input id="password-confirm"
                                   type="password"
                                   class="form-control"
                                   name="password_confirmation"
                                   v-model="formData.password_confirmation">
                        </div>
                    </div>

                    <div class="form-group row mb-0">
                        <div class="col-md-6 offset-md-4">
                            <button type="submit" class="btn btn-primary">
                                Register
                            </button>
                        </div>
                    </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
  // is-invalid

  export default {
    name: "register",
    data(){
      return {
        error: false,
        errors: {
          name: [],
          email: [],
          password: [],
          password_confirmation: []
        },
        message: null,
        formData: {}
      }
    },
    methods: {
      register(){
        let vm = this;
        axios.post('/register', this.formData).then((response) => {
            this.$router.push('/login')
        }).catch((err) => {
          //console.log(err.response.data);
          vm.error = true;
          vm.errors = err.response.data.errors;
          vm.message = err.response.data.message;
        });
      }
    }
  }
</script>

<style scoped>

</style>